---
name: Publish collection to Ansible Galaxy

on:
  workflow_call:
    secrets:
      GALAXY_API_KEY:
        description: 'The API-key to publish to Ansible Galaxy'
        required: true
      GH_BRANCH_PROTECTION_APP_TOKEN:
        description: 'The token used to push as a Github-app. Globally set in the organization'
        required: true

jobs:
  deploy_to_galaxy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          persist-credentials: false

      # deploy the collection first, because if it fails, we don't want
      # to update the galaxy.yml
      - name: Deploy the collection
        uses: artis3n/ansible_galaxy_collection@415a92b829b5898b6e8ca1dd7a69fe2a1e5fd4c0 # v2
        with:
          api_key: ${{ secrets.GALAXY_API_KEY }}
          galaxy_version: ${{ github.event.release.tag_name }}

      # checkout main instead of the release-tag so we can push the galaxy.yml
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: main

      - name: update galaxy.yml with new version
        uses: mikefarah/yq@2c471b64984fd03a22b54c488b8a8ae10841fa55 # v4.52.3
        with:
          cmd: yq -i '.version = "${{ github.event.release.tag_name }}"' 'galaxy.yml'

      # the token is needed so the github app can push to the repository
      # the github app can bypass the branch protection rule (need a PR to merge)
      # this way it can directly commit to main
      - name: Obtain a GitHub App Installation Access Token
        id: githubAppAuth
        run: |
          TOKEN="$(npx obtain-github-app-installation-access-token ci ${{ secrets.GH_BRANCH_PROTECTION_APP_TOKEN }})"
          echo "::add-mask::$TOKEN"
          echo token=${TOKEN} >> $GITHUB_OUTPUT

      - name: push galaxy.yml
        uses: github-actions-x/commit@722d56b8968bf00ced78407bbe2ead81062d8baa # v2.9
        with:
          github-token: ${{ steps.githubAppAuth.outputs.token }}
          push-branch: 'main'
          commit-message: 'update galaxy.yml with new version'
          force-add: 'true'
          files: galaxy.yml
          name: Deutsche Telekom MMS
          email: mms@telekom.de
