---
name: Reusable workflow for spellcheck with codespell

on:
  workflow_call:
    inputs:
      ignore_words_list:
        description: 'Comma-separated list of words which will be ignored by codespell.'
        type: string
        required: false
        default: ''
      skip:
        description: 'Comma-separated list of files to skip (it accepts globs as well).'
        type: string
        required: false
        default: './.git'

jobs:
  codespell:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Codespell
      uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630 # v2
      with:
        check_filenames: true
        ignore_words_list: "${{ inputs.ignore_words_list }}"
        skip: "${{ inputs.skip }}"
