---
name: Terraform Linting

on:
  workflow_call:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: check format
        uses: dflook/terraform-fmt-check@59168426e242f665bf7b70644d706224e665056a # v2
        with:
          path: .

      - name: validate
        uses: dflook/terraform-validate@4cef5d8a4b92bcd88486e41e22a42942a382c9d6 # v2
        with:
          path: .

      - name: Setup tflint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6

      - name: tflint
        run: tflint --recursive
