---
name: Terratest

on:
  workflow_call:
    secrets:
      AZURE_CLIENT_SECRET:
        description: 'application password'
        required: false
      AZURE_CLIENT_ID:
        description: 'application id'
        required: false
      AZURE_SUBSCRIPTION_ID:
        description: 'subscription id'
        required: false
      AZURE_TENANT_ID:
        description: 'tenant id'
        required: false
    inputs:
      test:
        description: name of the test to run e.g. azure
        type: string
        required: true

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1 # to enforce unique terraform resources
      matrix:
        example:
          - min
          - full

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_wrapper: false # disable wrap of subsequent calls - like debug mode

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.25'
          check-latest: true

      - name: Prepare Plan Test Setup for ${{ matrix.example }}
        run: sed 's/\<source\>.*/source = "..\/"/g' examples/${{ matrix.example }}_main.tf > tests/main.tf
        working-directory: .

      - name: Checkout Github Action
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: T-Systems-MMS/terratest-action
          ref: 1.0.1
          path: ./terratest-action
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Test for ${{ matrix.example }} Plan Setup
        uses: ./terratest-action
        with:
          test:  ${{ inputs.test }}
          test_type: plan
          azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          azure_client_secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}

      - name: Prepare Apply Test Setup
        run: sed 's/\<source\>.*/source = "..\/"/g' examples/apply_main.tf > tests/main.tf
        working-directory: .

      - name: Run Test for Apply Setup
        uses: ./terratest-action
        with:
          test:  ${{ inputs.test }}
          test_type: apply
          azure_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          azure_client_secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
