---
name: Terraform Linting

on:
  workflow_call:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: check format
        uses: dflook/terraform-fmt-check@10eaa13fa61437aa51be2d12fafe95f152e3512d # v2
        with:
          path: .

      - name: validate
        uses: dflook/terraform-validate@03889814f1c6cf2fea714787218b2f4edc85c369 # v2
        with:
          path: .

      - name: Setup tflint
        uses: terraform-linters/setup-tflint@ae78205cfffec9e8d93fd2b3115c7e9d3166d4b6 # v5

      - name: tflint
        run: tflint --recursive
