---
name: Terraform Docs

on:
  workflow_call:

jobs:
  readme:
    runs-on: ubuntu-latest
    name: create docs
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Generate readme
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1
        with:
          working-dir: .
          output-file: README.md

      - name: upload readme
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: README.md
          path: ./README.md
